section.work-of-mounth
  div.container
    div.row
      div.work-of-mounth__wrapper
        div.work-of-mounth__img
          picture
            source(media="(min-width: 990px)", srcset="img/photo-1-desktop.jpg")
            source(media="(min-width: 640px)", srcset="img/photo-1-tablet.jpg")
            img(src="img/photo-1-mobile.jpg", alt="")
          div.work-of-mounth__title РАБОТА МЕСЯЦА     
        div.work-of-mounth__desc
          span.work-of-mounth__name Лжепётр Мчиславский
          p.work-of-mounth__text Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!
          ul.work-of-mounth__services
            li.work-of-mounth__haircat 
              div.work-of-mounth__haircat-img
              span.work-of-mounth__service СТРИЖКА
            li.work-of-mounth__shaving  
              div.work-of-mounth__shaving-img
              span.work-of-mounth__service БРИТЬЕ
            li.work-of-mounth__mustache 
              div.work-of-mounth__mustache-img
              span.work-of-mounth__service УСЫ
             