//- ===============================
//- Index Page
//- ===============================
- var index={}
- index.title = 'Barbershop'
- index.navHref = 'index.html'
- index.page = 'ГЛАВНАЯ'

//- ===============================
//- works Page
//- ===============================

- var photo={}
- photo.title = 'Наши работы'
- photo.navHref = 'photo.html'
- photo.page = 'РАБОТЫ'

//- ===============================
//- form Page
//- ===============================

- var form={}
- form.title = 'Запись на Стрижку'
- form.navHref = 'form.html'
- form.page = 'ЗАПИСАТЬСЯ'

