mixin header-app(data)
    header.header-app      
      a.header-app__logo(href="#")
        img.header-app__img(src="%=static=%img/content/logo.png", alt="Окна уютны")
        span.header-app__info.header-app__logo-txt Ставим окна с 1996 года
      div.header-app__info Производство и монтаж окон и оконных конструкций <br> в Самарской области <br> Готовность за 7 дней
      a.header-app__contact(href="tel:+78001234567")
        span.header-app__number 8 <span class='header__nbr-code'>(800)</span> 123-45-67
        span.header-app__cont-txt Заказать бесплатный звонок          
          