mixin discount(data)
    .discount
      .discount__wrap
        .discount__value
          span.discount__val-txt СКИДКА
          span.discount__val 30%
          span.discount__val-txt.discount__val-txt-end при заказе <br> до 30 марта
        .discount__info
          p.discount__info-txt Рассчитайте стоимость <br> онлайн и получите <br> <span class='discount__info-txt--b'>максимальную скидку</span>
          a.discount__btn.btn-discount(href="#")
            span.btn-discount__txt Рассчитать стоимость <br> с учетом скидки онлайн