footer.footer
  div.container    
    div.row
      ul.footer__items.row
        li.footer__item.footer__item--ttl.col-xs-12.col-md-5.col-lg-4
          div.footer__title Барбершоп Бородинский
            p.footer__address г. Санкт-Петербург, ул. Большая Конюшенная 19/8 
            a.footer__tel(href="tel:+8125556666") <span class="footer__tel-span hidden-xs"> Тел.:</span>  +7 (812) 555-66-66

        li.footer__item.col-xs-12.col-md-2.col-lg-2 
          span.footer__follow.hidden-xs.hidden-sm Давайте дружить!
          ul.footer__social 
            li.footer__social-item
              a.footer__social-link(href="#")
                picture
                  source(media="(min-width: 990px)", srcset="img/vk-icon-small.png")
                  img(src="img/vk-icon-big.png", alt="")

            li.footer__social-item
              a.footer__social-link(href="#")
                picture
                  source(media="(min-width: 990px)", srcset="img/facebook-icon-small.png")    
                  img(src="img/facebook-icon-big.png", alt="")

            li.footer__social-item
              a.footer__social-link(href="#")
                picture
                  source(media="(min-width: 990px)", srcset="img/insta-icon-small.png")
                  img(src="img/insta-icon-big.png", alt="")

        li.footer__item.footer__item--dev.col-xs-12.col-md-4.col-lg-2
          span.footer__development Разработано:
          a.footer__academy-link(href="#") HTML ACADEMY
        