mixin footer(data)
    footer.footer
      div.footer__wrap
        div.footer__firm ООО «Окна Ютна»
        div.footer__social
          a.footer__s-item.footer__vk.footer(href="#")
            img(src="%=static=%img/content/vk-icon.png", alt="vk")
          a.footer__s-item.footer__fb(href="#")
            img(src="%=static=%img/content/fb-icon.png", alt="facebook")
          a.footer__s-item.footer__inst(href="#")
            img(src="%=static=%img/content/inst-icon.png", alt="instagram")
        a.footer__privacy-policy-link(href="#")
          span.footer__privacy-policy Политика конфиденциальности