mixin contacts(data)
    .contacts
      div.contacts__wrap
        h1.contacts__ttl Контакты
        p.contacts__info г. Тольятти, ул. 40 Лет Победы 96 (ТД Фрегат), офис 408а
        a.contacts__phone(href="tel:+78482711890") 8 (8482) 711-890
        a.contacts__phone(href="tel:+79033310890") +7 (9033) 310-890
