mixin start-window(data)
    .start-window.start-window__active
      h1.start-window__ttl Узнайте за <span class='start-window__ttl-b'>3 минуты</span> стоимость<br> ваших окон!
      span.start-window__ttl Ответьте на 7 вопросов и получите:
      ul.start-window__items
        li.start-window__item 1) Сметную стоимость проекта "под ключ"          
        li.start-window__item 2) Скидку до 30% за экономию нашего времени
      a.start-window__start(href="#") Расчитать стоимость