@font-face {
  font-family: 'symbols-sedona';
  src: url('../fonts/symbols-sedona.eot');
  src: url('../fonts/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url(../fonts/symbols-sedona.woff) format('woff'),
       url('../fonts/symbols-sedona.ttf') format('truetype'),
       url('../fonts/symbols-sedona.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */


@font-face{
    src: url(../fonts/PTS55F.ttf);
    font-family: PTSans;
}
@font-face{
    src: url(../fonts/PTN57F.ttf);
    font-family: PT-narrow;
}
@font-face{
    src: url(../fonts/PTS75F.ttf);
    font-family: PT-bold;
}

body{
    padding: 0;
    margin: 0 auto;
    background: #f2f2f2;
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;  
    font-weight: normal;
    
}
.shadow{
    margin: auto;
    min-width: 768px;
    max-width: 1200px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0, 0.2);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0, 0.2);
}
h1{
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    font-family: PT-bold, Arial, fantasy;
}
h2{
    font-weight: normal;
    margin: 0;    
    font-size: 21px;
    font-family: PT-bold, Arial, fantasy;
}
h3{
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    font-family: PTSans, Arial, sans-serif;
}
li{
    list-style: none;
}

               /*index*/





               /*header*/

header{
    font-family: PT-bold, Arial, fantasy;
    background: #fff;
}
.wrapper ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;  
    padding: 0;
    margin: 0;
    height: 56px;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;   
    font-size: 14px;
}
.logo-link a{
    margin-top: 18px;     
}
.logo-link{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: left; 
    justify-content: center; 
    width: 9%;
}
.wrapper .link{  
    list-style: none;      
}
.wrapper .left{
    text-align: left;
    white-space: nowrap;
    width: 20%;   
    
}
.wrapper .right{
    text-align: right;
    white-space: nowrap;
    width: 20%;   
}
.link{
    text-decoration: none;
    color: #000;    
}
.link:hover{
    color:#a3c7de;
}
.link:active{
    color: #b2b2b2;
}
.active-page{
    text-decoration: none;
    color: #766357;
}
.active-page:hover{
    color: #604e43;    
}
.active-page:active{
    color: #dbd6d3;
}


               /*main*/
main{
    margin: 0 auto;
    min-width: 768px;
    max-width: 1200px;
    background: #fff;    
}

.pg1-main-head{
    width: 100%;
    height: 508px;
    background:     
        url(../images/img-bot.png) no-repeat 0% 100%,         
        #91bbd4 url(../images/back.jpg) no-repeat 0% 28%;
    background-size: 100%, cover;
    margin-bottom: 59px;
    overflow: hidden;    
}
.img-sedona{
    height: 352px;
    width: 458px;
    margin: 0 auto;
    margin-top: 75px;     
}
.main-title{
    text-align: center;
    font-size: 14px; 
    margin-bottom: 56px;    
}
.main-title h2{
    margin: 0; 
    font-size: 21px;    
    margin-bottom: 32px;
    line-height: 26px;
}

                        /*text*/



.text{
    color: #fff;    
}
.ttl-text{
    margin: 0;
    margin-bottom: 25px;         
}
.block-1 .nbr,
.block-3 .nbr{
    display: block;
    font-size: 14px;
    margin-bottom: 20px;     
}
.block-1 .txt-text,
.block-3 .txt-text{
    display: block;     
    width: 65%;
    margin: 0 auto;
    font-size: 14px;     
}


                      /*block-1*/



.block-1{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;    
    height: 256px;
    width: 100%;
}
.d-flex{  
    width: 100%;
    padding: 0;
    margin: 0;    
}
.d-flex li{
    text-align: center;
    list-style: none;    
}
.block-1 .text{   
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; 
    -ms-align-items: center;
    align-items: center;
    background: #81b3d2;
    width: 33.5%;
}
.bl1-txt{
    width: 65%;
}
.block-1 .img{   
    background: url(../images/img-city-2.jpg)no-repeat 50% 55%;
    background-size: cover;    
    width: 67%;    
}


                        /*block-2*/



.block-2{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;    
    width: 100%;  
    min-height: 330px;

}
.bl2-item-1,
.bl2-item-2,
.bl2-item-3{    
    width: 33%;
    margin: 0 auto;  
    padding-top: 60px;    
}
.icon-1{
    margin-bottom: 21px;
}
.icon-2{
    margin-bottom: 23px;
}
.icon-3{
    margin-top: -5px;
    margin-bottom: 22px;
}
.ttl-item{
    margin: 0;
    margin-bottom: 21px;    
}
.txt-item{   
    display: block;
    margin: auto;
    font-size: 14px;
    width: 66%;    
    line-height: 21px;
    margin-bottom: 60px;
    
}
.txt-2{
    width: 70%;
}



                    /*block-3*/

.block-3{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 256px;
}
.block-3 .img{
    width: 67%;   
    background: url(../images/canyon.jpg)no-repeat 50% 54%; 
    background-size: cover;
}
.block-3 .text{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    width: 33.5%;
    background: #81b3d2; 
    
}
.bl3-txt{       
    width: 55%;
}




                 /*block-4*/



.block-4{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around; 
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    background: #eeeeee;
}
.block-4 .text{
    min-height: 256px;
    color: #000;
    width: 33%;
}

.block-4 h2{    
    margin-top: 43px;
    margin-bottom: 15px;
}
.block-4 .nbr{
    display: block;
    font-size: 14px;
    margin-bottom: 8%;       
}
.block-4 .txt-text{
    display: block;
    width: 66%;   
    font-size: 14px;
    margin: 0 auto; 
    margin-bottom: 50px;
    
}
.block-4 .bl4-txt{
    width: 66.7%;
}
.wrap{
    white-space: nowrap;
}

                     /*block-5*/

.block-5{
    position: relative;
}
.bl-5-item-1{
    width: 100%;
    margin: 0 auto;
    margin-top: 48px;
}
.ttl-bl-5{
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
}
.text-bl-5{
    margin: 0;
    margin-bottom: 45px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
}
.d-none{
    display: none;
}
.search{
    display: block;
    cursor: pointer;
    margin: 0 auto;
    padding-bottom: 29px;
    padding-top: 29px;
    width: 568px;
    font-size: 21px;
    color: #fff;
    font-family: PT-bold, Arial, fantasy;
    text-align: center;    
    background: #766357; 
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.block-5 .search:hover{
    background: #887366;
}
.block-5 .search:active{
    color: #dbd6d3;
    background: #503e33;
}
@keyframes bounce{
    0%{
        transform: scale(0.5);   
    }  
    100%{
        transform: scale(1);
    }
}
.form-wrapper{ 
    margin: 0 auto;
    width: 458px;
    height: 285px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 55px 55px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.2); 
    -webkit-animation: bounce 0.5s;
    -o-animation: bounce 0.5s;
    animation: bounce 0.5s; 
}
.search-form{     
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 395px; 
    display: none; 
    -webkit-animation: bounce 0.5s;
    -o-animation: bounce 0.5s;
    animation: bounce 0.5s;    
}
.bl-5-item-1 input:checked ~ .search-form {
    display: block;         
}
.show-form{    
    display: block;    
}







                   /*form-wrapper*/



.form-wrapper input{
    border: none;
    background: #f2f2f2;
    border: 2px solid #f2f2f2;
}
.form-wrapper input:hover{
    background: #ebebeb;
}
.form-wrapper input:focus{
    background: #fff;
    border: 2px solid #e5e5e5;
}
.bl-1-form,
.bl-2-form,
.bl-3-form{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px; 
    margin-top: -1px;
    font-family: PT-bold, Arial, fantasy;
}
.bl-1-form .f-right,
.bl-2-form .f-right{
    margin-bottom: 32px;
    padding: 6px;
    padding-left: 26px;
    padding-right: 10px;
    width: 305px;
    outline: none;    
}
.bl-3-form input{    
    padding: 9px;
    padding-left: 38px;
    padding-right: 28px;
    width: 46px;
    outline: none;
}
.bl-3-form .big{
    margin-right: 36px;
}
.bl-3-form .small{
    margin-right: 21px;    
}
.form-lable{
    margin-top: 8px;
}
.form-wrapper button{
    margin-top: 54px;
    width: 458px;
    height: 58px;
    border: none;
    background: #81b3d2;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    font-family: PTSans, Arial, sans-serif;
}
.form-wrapper button:hover{
    background: #669ec0;    
}
.form-wrapper button:active{
    color: #88b6d1;
    background: #5496bd;
}
.map{ 
    margin: 0;  
    width: 100%;
}
iframe{
    width: 100%;
    height: 473px;   
}


 
                            /*footer*/


footer{
    max-width: 1200px;
    min-width: 768px;    
    background: #fff;
}

.footer-wrapper{
    margin: 0 auto;    
   
}
.footer-wrapper .footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 120px;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;   
    margin: 0;
}
.ft-text{
    margin-top: -12px;
    margin-left: -25px;
}
.footer-wrapper .by{    
    position: relative;
    font-size: 14px;
    bottom: 15px;
    right: 4px;    
}
.social ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 0;
    margin-left: 24px;
    margin-top: -9px;
}
.s-icon{    
    display: block;
    background: #81b3d2;
    color: #fff;
    padding: 11px;
    margin-left: 6px;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.icon-twitter{
    margin-left: 0px;    
}
.s-icon:hover{
    background: #669ec0;
}
.s-icon:active{
    color: #88b6d1;
    background: #5496bd;
}
.html-academy{
    display: inline-block;
    vertical-align: baseline;
    height: 39px;
    width: 113px;
    margin-right: -13px;
    margin-top: -3px;
    background: url(../images/html.png)no-repeat 0% 0%;
}
.html-academy:hover{
    background: url(../images/html.png)no-repeat 0% 52%;
}
.html-academy:active{    
    background: url(../images/html.png)no-repeat 0% 0%;   
    opacity: 0.5;
}


 
                  /*catalog*/




                           /*main-head*/




.pg2-main-head{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;   
    height: 217px;
    background: #3d7ba4 url(../images/hotels-page-bg.jpg) 50% 15%;
    color: #fff;
}
.head-wrapper{   
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; 
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    margin: 0 6%; 
    width: 100%;     
}


                     /*column 1-2-3*/


.column-both{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 512px;
}

.column-1,
.column-2,
.column-3{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    font-size: 14px;       
}
.column-1,
.column-2{
    width: 50%;
}
.column-1 input,
.column-2 input{
    display: none;
}
.column-1 .checkbox:before,
.column-2 .checkbox:before{
    vertical-align: middle;
    font-family: "symbols-sedona";
    font-size: 24px;
    margin-right: 20px;
    line-height: 23px;
}
.column-1 input:checked + label:before,
.column-2 input:checked + label:before{
    margin-right: 16.59px;
    font-size: 23.99px;
    content: '\2611';       
}
.ttl-mn-head{
    margin-bottom: 24px;
}
.checkbox{
    width: 75px;
}
.checkbox:not(:last-child){  
    margin-bottom: 23px;     
}
.checkbox:before{
    color: #b5b5b5;
    content: '\2610';
}
.checkbox:hover:before{
    color: #fefefe;    
}


                    /*column-3 - не получается установить размеры согласно макетам, точный размер получается только в одном из разрешений */

.column-alone{
    width: 30%;
}
.column-3{
    width: 100%;
}
.column-3 h3{    
    margin-bottom: 11px;  
}
.range-table{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; 
    border: 2px solid #fff;
    border-radius: 3px;
    height: 32px;   
    margin-bottom: 10px;
    width: 100%;
}
.range{
    padding: 5px;
    padding-left: 15%;
    padding-right: 0;
    width: 34.5%;
    border: none;
    height: 15px;
    margin-top: 3.5px;    
    color: #fff;
    font-family: PTSans, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    background: none;
    outline: none;    
}
.br-r{    
    border-right: 2px solid #fff;    
}

                      




                        /*range-line*/



.range-line{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 21px;
    margin-bottom: 24px;
}
.rng{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;     
}
.rng:hover > .dot{
    background: #3b6791;
}
.rng:active{
    -webkit-box-shadow: -0px 0px 3px 0px #000;
    box-shadow: -0px 0px 3px 0px #000;
}
.line{
    -ms-align-self: center;
    align-self: center;
    height: 2px;
    width: 60%;
    background: #fff;
}
.line-bf{
    -ms-align-self: center;
    align-self: center;
    height: 2px;
    width: 10%;
    background: rgba(255,255,255,0.3);
}
.line-aft{
    -ms-align-self: center;
    align-self: center;
    height: 2px;
    width: 17%;
    background: rgba(255,255,255,0.3);
}
.dot{  
    -ms-align-self: center;
    align-self: center;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background: #ababab;    
}


.show{
    -ms-align-self: center;
    align-self: center;
    border: 2px solid #fff;
    border-radius: 4px;
    height: 36px;
    width: 137px;
    background: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;    
}



                        /*main-body*/


.bot-line{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-left: 6%;
    padding-right: 6%;
}
.body-head{
    height: 87px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;    
}
.bl-sort{
    width: 520px;
}
.bl-sort ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 0;     
}
.sort-2{   
    margin-left: 6px;
    font-size: 12px;
    text-align: center;
    font-family: PT-bold, Arial, fantasy;
}
.sort-3{    
    width: 240px;
    font-size: 12px;     
}
.sort-3 .active{
    color: #81b3d2;    
}
.sort-3 a{
    text-decoration: none;
}
.select{
    color: #b1b1b1;
    border-bottom: 1px dotted #81b3d2;
}
.select:hover{
    color: #81b3d2;
}
.select:active{
    color: #000;
}
.arrow{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;     
}
.arrow a{
    text-decoration: none;
}
.icon-up{
    color: #b1b1b1;
}
.ar-bot .active{
    margin-left: 9px;
    color: #81b3d2;
}
.icon-up,
.icon-down{      
    font-size: 14px;
}
.icon-up:hover{
    color: #000;
}
.icon-up:active,
.icon-down:active{
    color: #81b3d2;
}



                     /*body-block*/

.info{
    margin-top: 15px;
}
.info ul{
    padding: 0;
    margin: 0;    
}
.body-block{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    height: 150px;
   
}
.f-left,
.inf-main,
.inf-footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;    
    font-size: 14px;      
}
.inf-main,
.inf-footer{
    justify-content: space-between;    
}
.f-left{
    width: 80%;
    margin-top: 10px;
}
.img-1{
    margin-top: 19px;
    margin-right: 30px;
}
.inf-hd a{
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 21px;    
    margin-bottom: 6px;
    font-family: PT-bold, Arial, fantasy;
}
.inf-hd a:hover{
    color: #81b3d2;
}
.inf-hd a:active{
    color: #b2b2b2;
}
.inf-main{   
    font-size: 14px;  
    width: 260px;  
    margin-bottom: 16px;
    color: #333333;
}
.btn-more{
    display: block;
    text-align: center;
    width: 110px;
    padding: 4px 0; 
    background: #81b3d2;
    margin-right: 6px;    
}
.btn-more:hover{
    background: #669ec0;
}
.btn-more:active{
    color: #88b6d1;
    background: #5496bd;
}
.btn-check{
    display: block;
    text-align: center;
    width: 142px;
    padding: 4px 0;  
    background: #766357;    
}
.btn-check:hover{
    background: #604e43;
}
.btn-check:active{
    color: #857871;
    background: #503e33;
}
.inf-footer{
    width: 250px;
}
.inf-footer a{
    text-decoration: none;
    color: #fff;
}
.inf-main span{
    text-align: left;
}
.inf-check{
    width: 110px;    
}
.inf-btn{
    width: 144px;
}
.rating{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    height: 91px;
    margin-top: 27px;
}
.star{    
    letter-spacing: 3px;
    line-height: 21px;
    color: #81b3d2;
    font-size: 24px;
    -ms-align-self: flex-end;
    align-self: flex-end;
}
.rating-txt{
    font-size: 14px;
    text-align: center;
    width: 110px;  
    padding: 4px 0;
    color: #666666;
    background: #f2f2f2;
}
