doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/discount/discount
    include ../components/windows-disc/windows-disc
    include ../components/advg/advg
    include ../components/disc-mini/disc-mini
    include ../components/option/option
    include ../components/metering-form/metering-form
    include ../components/contacts/contacts
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.page__wrapper

            //- Include your components here
            +header()
            +discount()
            +windows-disc()
            +advg()
            +disc-mini()
            +option()
            +metering-form()
            +contacts()
            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')        
        script(src='%=static=%js/separate-js/jquery-2.1.4.min.js')        
        script(src='%=static=%js/separate-js/owl.carousel.min.js')
        script(src='%=static=%js/separate-js/common.js')    