section.beard-model
  div.container   
    div.row
      div.beard-model__title ВЫБЕРИТЕ МОДЕЛЬ БОРОДЫ:


      - var beard = {}
      - beard.item1 = {type: 'адмирал', img: 'beard-1', value: '1', id: 'beard-1'}
      - beard.item2 = {type: 'лесоруб', img: 'beard-2', value: '2', id: 'beard-2'}
      - beard.item3 = {type: 'полярник', img: 'beard-3', value: '3', id: 'beard-3'}
      - beard.item4 = {type: 'боярин', img: 'beard-4', value: '4', id: 'beard-4'}
      - beard.item5 = {type: 'мудрец', img: 'beard-5', value: '5', id: 'beard-5'}

      div.beard-model__items
        each i in beard
          label.beard-model__checkbox            
            input.beard-model__input(type="radio", id="" + i.id, name="beard", value="" + i.value) 
            div.beard-model__btn
            span.beard-model__type= i.type
            div.beard-model__img
              img(src="img/" + i.img + '.png', alt="")