section.get-a-haircut
  div.container
    div.row
      div.get-a-haircut__wrapper
        h1.get-a-haircut__title ЗАПИСЬ НА СТРИЖКУ
        a.get-a-haircut__link.hidden-xs(href="index.html") НА ГЛАВНУЮ 
      