mixin banner(data)
    section.banner
      div.banner__info
        h1.banner__title УБОРКА ТЕРРИТОРИИ И ВЫВОЗ СНЕГА
        p.banner__text Мы готовы оказать Вам круглогодичное содержание вашего дорожного покрытия и в зимнее время