mixin disc-mini(data)
    .disc-mini
      .disc-mini__wrap
        span.disc-mini__ttl Получите скидку до 30% 
        p.disc-mini__txt при заказе до 30 марта
        a.btn-discount.disc-mini__btn(href="#") Рассчитать стоимость <br> с учётом скидки онлайн