extends ../template

block currentpage
  - var currentPage = photo

block content
  main
    include photo/our-works
    include photo/work-of-mounth
    include photo/clients
    include photo/price
