mixin footer(data)
    footer.footer
      .footer__wrap
        a.footer__link(href="#")
          img.footer__logo(src='%=static=%img/content/logo.png')  
        p.footer__txt Продажа песка и щебня<br> с доставкой по Самаре и области
        .footer__info
          span.footer__info-txt ОГРН 11093748001668
          span.footer__info-txt ИНН 630473770 / КПП 63673401
        a.footer__open-form(href='#') Заказать Звонок