mixin contacts(data)
    .contacts
      .contacts__wrap-block
        .contacts__wrap
          .contacts__ttl КОНТАКТЫ
          ul.contacts__items
            li.contacts__item
              span.contacts__item-mark г. Самара, ул Самарская, 32
            li.contacts__item
              a.contacts__item-phone(href='tel:+78462055060') 8(846) 205-50-60
            li.contacts__item
              a.contacts__item-phone(href='tel:+79879555060') 8 (987) 955-50-60
            li.contacts__item
              a.contacts__item-mail(href='mailto:bt505@mail.ru') bt505@mail.ru
          span.contacts__txt Остались вопросы?
          a.contacts__link(href="#") Задайте их нам
