mixin priceSelect(data)
    .select
      h2.select__title ВЫБЕРИТЕ ВАРИАНТ АСФАЛЬТИРОВАНИЯ ТЕРРИТОРИИ.
      p.select__text Каждый вариант имеет свои особенности в  построении слоев кладки. Вы сможете настроить параметры для выполнения работы, а так же подобрать свои индивидуальные параметры слоев кладки.  Система подсчитает стоимость, с учетом трудозатрат, машин и механизмов. Сформирует коммерческое предложение с заданными параметрами и направит его на указанный адрес. 
      a.select__phone(href="tel:+78137777777") +7 913 777 77 777
      div.select__info Будем рады сотрудничеству, по всем вопросам обращайтесь по телефону
      
      
      