mixin work-with(data)
    .work-with
      .work-with__ttl-wrap
        h1.work-with__ttl С НАМИ УЖЕ РАБОТАЮТ:
      .work-with__wrap 
        ul.work-with__items(id='work-with__slider')
          li.work-with__item
            img.work-with__img(src='%=static=%img/content/work1.png', height='49', width='199')
          li.work-with__item
            img.work-with__img(src='%=static=%img/content/work2.jpg', height='36', width='142')
          li.work-with__item
            img.work-with__img(src='%=static=%img/content/work3.png', height='79', width='110')
          li.work-with__item
            img.work-with__img(src='%=static=%img/content/work4.png', height='45', width='157')
        .work-with__dots.indicators-hide          
          .work-with__dot
          .work-with__dot
          .work-with__dot
          .work-with__dot
          