mixin footer-app(data)
    footer.footer-app
      div.footer-app__wrap
        div.footer-app__firm ООО «Окна Ютна»
        div.footer-app__social
          a.footer-app__s-item.footer-app__vk(href="#")
            img(src="%=static=%img/content/vk-icon.png", alt="vk")
          a.footer-app__s-item.footer-app__fb(href="#")
            img(src="%=static=%img/content/fb-icon.png", alt="facebook")
          a.footer-app__s-item.footer-app__inst(href="#")
            img(src="%=static=%img/content/inst-icon.png", alt="instagram")
        a.footer-app__privacy-policy-link(href="#")
          span.footer-app__privacy-policy Политика конфиденциальности